.container {
    display: flex;
    justify-content: center;
    background: yellow;
}
.btn {
    background: red;
    width: 100px;
    height: 80px;
}
.navigation-list {
    display: flex;
    flex-direction: row;
}
.logo_navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 30px;
}
li a {
    padding: 10px;
}
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
}
